---
import hero from '../assets/images/hero.png';
import heroVideo from '../assets/videos/hero.mp4';
---

<section class="relative z-40 min-h-screen overflow-hidden flex items-center bg-cover bg-center opacity-0 translate-y-3 animate-[fadeIn_0.6s_forwards] transition-transform duration-300 scroll-mt-10">

    <video
        autoplay
        loop
        muted
        playsinline
        class="hidden sm:block absolute inset-0 object-cover bg-center" 
    >
        <source src=`${heroVideo}` type="video/mp4" />
    </video>

    <div class="absolute inset-0 bg-cover bg-center sm:hidden" style={`background-image: url(${hero.src});`}></div>

    <div class="absolute inset-0 bg-black/50 z-10 pointer-events-none"></div>

    <div class="relative container mx-auto px-6 text-center z-20">

        <h1 class="text-4xl md:text-6xl text-white mb-4">
            Find Your Perfect Property
        </h1>

        <p class="text-lg md:text-2xl text-white mb-8">
            Browse curated homes tailored to your lifestyle.
        </p>

    </div>
</section>