---
import MobileNav from "./MobileNav.jsx";

const navLinks = [
    {label: 'Home', href: '/'},
    {label: 'Services', href: '/#services'},
    {label: 'Listings', href: '/#listings'},
    {label: 'Properties', href: '/#gallery'},
    {label: 'Send Message', href: '/', isModal: true},
];

---

<header class="fixed mx-auto top-0 w-full bg-white/70 text-text z-50 shadow-lg backdrop-blur-lg">
    <nav class="max-w-7xl mx-auto flex justify-between items-center p-4">
        <div class="text-2xl font-heading font-bold">
            Real Estate Web
        </div>

        <div class="hidden md:flex gap-8">
            {navLinks.map(link => (
                <a
                    href={link.isModal ? '#contactModal' : link.href}
                    onclick={link.isModal ? 'openModal(\'contactModal\')' : undefined}
                    class={
                            link.isModal
                                ? 'bg-primary text-white px-4 py-2 rounded-full hover:bg-primary-dark font-semibold transition-colors duration-300'
                                : `px-3 py-2 text-medium font-medium transition-colors duration-300}`
                            }
                    >
                    {link.label}
                </a>
            ))}
        </div>

        <MobileNav client:load />

    </nav>

</header>
